body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(55, 55, 55);
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(45, 40, 40);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(114, 112, 112);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(155, 153, 153);
}
button:active{
    background-color: rgb(152, 150, 150);
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(229, 181, 92);
}
.operator-btn:active{
    background-color: rgb(229, 167, 53);
}
